/* Custom App CSS Below --------------------------------- */
/*Fonts ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
body {
  background-color: #f3f6fa;
  /* color: #d8d8d8; */
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5 {
  font-family: "Open Sans";
  font-weight: bold;
  letter-spacing: 2.1px;
  font-size: 29px;
  padding-left: 12px;
  color: #2a3f5f;
}
p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  padding-left: 12px;
  color: #2a3f5f;
}

.p-dropdown{
  color: #2a3f5f;;
}

.camera-run-done{
  margin-top: 20px;
}

/* style={'width':'100%','height':200, 'border':'none', 'color':'white'} */
.console-out{
  width:80%;
  height: 300;
  /* border: none; */
  color: #f3f6fa;

}
.img_style {
  height: 225px;
  width: 105px;
  border: 2px solid #60b5ab;
  border-radius: 4px;
}

.floormaps_output {
  margin: auto;
  width: 50%;
  padding: 10px;
}


a {
  text-decoration: none;
}
.bg-grey{
  background-color: #FFFFFF;
}
.text-padding{
  padding: 5px;
}

.date_picker{
  background-color: #4181FF;
}

.datetime_class {
  width: 90%;
}

/* .time_class {
  width: 85%;
  margin-right: 3px;
} */

.timeinput{
  width:85%;
}

/*
@media (max-width: 950px) {
  .button_submit_1,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    height: 38px;
    width: 90px;
    padding: 0;
    color: #FBFFFF;
    text-align: center;
    font-size: 11px;
    font-family: "Geneva", "Tahoma", "Verdana", "sans-serif";
    font-weight: 200;
    line-height: 38px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #4181FF;
    border: 1px solid white;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: -20px;
    margin-bottom: -50px;

  } */

.button-query{
  color: #2a3f5f;
  border: 1px solid #2a3f5f;

}

.button_show {
  height: 38px;
  width: 150px;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 12.5px;
  font-family: "Courier";
  font-weight: 300;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2a6fd3;
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 35px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.button_submit {
  height: 38px;
  width: 60px;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 12.5px;
  font-family: "Courier";
  font-weight: 300;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #2a6fd3;
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 15px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* } */
/* Graph Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-for-charts{
  display: flex;
  flex-direction: column;
  height: 150vh;
  width: 100%;
  overflow-y: scroll;
}
#histogram {
  flex-grow: 1
}
#map-graph {
  flex-grow: 1
}
.mapboxgl-canvas, .mapboxgl-map {
  min-width: 100%;
}
/* Graph Control Objects ––––––––––––––––––––––––––––––––––––––––––––––––––*/
.div-user-controls {
  padding-left: 55px;
  padding-top: 64px;
  /* overflow: auto; */
}
/*
.div-user-control {
  background-color:#01183A;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: auto;
} */
.div-for-dropdown {
  padding-top: 3px;
  padding-bottom: 12px;
  font-size: 14px;
  width: 97%;
}
.div-for-slider {
  width: 97%;
  text-align: center;
}
.logo {
  height: 65px;
  padding-bottom: 12px;
  margin-left: 8px;
}
.Select-control, .Select-menu-outer, .Select-multi-value-wrapper, .select-up, .is-open .Select-control {
  background-color: #FFFFFF;
  color: black;

}

#bar-selector .Select-multi-value-wrapper{
  max-height: 82px;
  overflow-y: auto;
  margin: 0px 0px -3px 0px;
}

.Select-control{
  border: 0.5px solid black;
}

.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  color: black;
}
._dash-app-content {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label{
  color: black;
  font-weight: 400;
  font-size: 14px;
}


#date {
  background-color: #1e1e1e;
  font-family: "Open Sans";
  font-weight: 400;
  color: #dbdbdb;
  border: 0.5px solid #dbdbdb44;
}

#date-picker{
  width: 100%;
}

._dash-undo-redo {
  display: none;
}
.DateInput.DateInput_1{
  width: 100%;
}
.SingleDatePickerInput__withBorder{
  border:none;
}

.DateInput.DateInput_1 {
  background-color: #1e1e1e;
}

.SingleDatePickerInput__withBorder {
  border-radius: 3px;
  color: #dbdbdb;
  background: #FFFFFF;
  background-color: #FFFFFF;
}
.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
  border: 0.0px solid #dbdbdb;
  display: block;
}
.SingleDatePicker_1 {
  border: 0.0px solid #dbdbdb;
  display: block;
}

.SingleDatePicker_picker, .SingleDatePicker_picker_1, .SingleDatePicker_picker__directionLeft,
.SingleDatePicker_picker__directionLeft_2{
  filter:invert(100%);
}

/* For Mobile Phones and small screens ––––––––––––––––––––––––––––––––––––––––––––––––––*/
@media only screen and (max-width: 768px) {
  .four, .eight {
      min-width: 100%;
      /* min-height: 100%;
      max-height: 100%; */

 }
  h1, h2, h3, p {
      text-align: center;
 }
  body {
      display: block;
      margin: 0px;
      overflow-y: scroll;
  }
  .div-for-charts {
      padding: 0px;
      width: 100%;
      text-align: center;
 }

  .div-user-controls {
    padding: 20px;
 }

 .side-by-side{
    display: inline-block;
    width: 48%;
  }


 .side-by-side-right{
    display: inline-block;
    width: 48%;
    float:right;
  }
  .div-for-charts{
    margin: 0px;
  }
}


.custom-tabs-container {
    width: 100%;
    margin-left: 2%;
    margin-top:2%;
    margin-bottom:8%;
    overflow-y: auto;
    border-top: 1px #2a3f5f !important;
    border-left: 2px #2a3f5f !important;
    border-right: 2px #2a3f5f !important;
    border-bottom: 2px #2a3f5f !important;

}


.custom-tab {
    color: #2a3f5f !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px #2a3f5f !important;
    border-left: 2px #2a3f5f !important;
    border-right: 2px #2a3f5f !important;
    border-bottom: 2px #2a3f5f !important;
    background-color:#f3f6fa !important;
    padding: 12px !important;
    font-family: "system-ui";
    display: flex !important;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    font-weight: 500;
}

.custom-tab--selected {
    color: #2a6fd3 !important;
    border-left: 1px solid #2a6fd3 !important;
    border-right: 1px solid #2a6fd3 !important;
    border-top: 4px solid #2a6fd3 !important;
    /* border-bottom: 3px solid black !important; */
    overflow-y: auto;
}


/* width */
::-webkit-scrollbar {
  width: 10px !important;
  display: block !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF !important;
  border-radius: 10px !important;
  display: block !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d8d8d870 !important;
}
